<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
   
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header style="text-align: center;" collapse="condense">
      <img class="imgG" alt="logo" height="150"   src="https://seeklogo.com/images/G/grocery-store-logo-3B65A40953-seeklogo.com.png" >
    <br>
      
      <h1>Welcome to new grocery ordering app!</h1>
      <p>Click below to start.</p>
      <ion-button>Click here!</ion-button>
    </ion-header>

  
</ion-content>
