<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
   
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header style="text-align: center;" collapse="condense">
      <img class="imgG" alt="logo" height="150"   src="https://seeklogo.com/images/G/grocery-store-logo-3B65A40953-seeklogo.com.png" >
    <br>
      <img class="banner" src="https://media.istockphoto.com/photos/shopping-basket-with-fresh-food-isolated-on-white-grocery-supermarket-picture-id1215516074?k=20&m=1215516074&s=612x612&w=0&h=65csjZjQ147G9t0-D2juS8sfGGx9t9db8DkoAkKkY2w=">
      <h1>Welcome to new grocery ordering app!</h1>
      <p>Click below to start.</p>
      <ion-button>Click here!</ion-button>
    </ion-header>

  
</ion-content>
